
<h1>Beer.me</h1>

<div class="cards">

  <% @beers.each do |beer| %>

      <div class="card">
        <div class="card-image">
          <%= link_to beer do %>
            <%= image_tag beer.photo %>
          <% end %>
        </div>
        <div class="card-header">
          <%= link_to beer do %>
            <%= beer.name %>
          <% end %>
        </div>
        <div class="card-copy">
          <p><%= beer.brewery.name%> in <%= beer.brewery.location %></p>
        </div>
        <div class="card-stats">
          <ul>
            <li><%= beer.abv %><span>ABV</span></li>
            <li><%= beer.style %><span>Style</span></li>
            <li><%= (1..5).to_a.sample %><span>Rating</span></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>
